h1 {
	font-size: 40px;
	background-color: #b3ffb3;
	padding: 30px 0 30px 10%;
	border-radius: 50px;
}

#welcome, h2, form, p, hr {
	margin-left: 10%;
}

#welcome {
	font-size: 20px;
	margin-right: 10px;
}

#username {
	font-size: 30px;
	color: green;
}

.details {
	font-size: 20px;
	color: green;
	margin-left: 10px;
}

hr {
	width: 70%;
	float: left;
}

#error {
	color: red;
	margin-left: 10%;
}

#success {
	color: green;
	margin-left: 10%;
}

input[type = password] {
	width: 40%;
	padding: 10px;
	margin: 10px 0 30px 0px;
	border-radius: 10px;
	border: 1px solid #4ce600;
}

input[type = submit] {
  	width: 30%;
  	background-color: green;
  	border-radius: 10px;
	color: white;
	padding: 10px;
	margin: 20px 0;
	border: none;
}

button {
	width: 27%;
	background-color: red;
	border-radius: 10px;
	color: white;
	padding: 10px;
	border: none;
	margin: 30px 0 100px 10%;
}